@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
	margin:  0;
	padding: 0;
	font-family: Helvetica, Arial, Sans-Serif;
	color: #000;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

html, body {
	background: #000;
	overflow-x: hidden;
	width: 100vw;
}

.no-select {
	-webkit-user-select: none;
	user-select: none;
}

p, li {
	font-size: 18px;
	line-height: 25px;
	margin: 0 0 10px 0;
}

h3 {
	margin: 0 0 10px;
}

a {
	color: #00f;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

#wrapper {
	width: 100vw;
	overflow-x: hidden;
	position: relative;
}

section {
	width: 100%;
	min-height: 50vh;
	background-repeat: no-repeat;
	background-size: cover;
}




















/*

																															WEBSITE STYLE

*/

#outside-main {
	display: none;
}

#header-section {
	height: 100vh;
	position: relative;
	background-image: url('images/doftis_background-2.jpg');
	background-position: 50% 50%;
}

#background-filter {
	background: #203044cc;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

h1 {
	font-size: 30px;
	text-transform: uppercase;
}

#header-section .center {
	z-index: 2;
	top: calc(50% + 75px);
}
#header-section .center h3 {
	color: #fff;
	font-size: 35px;
	font-family: 'Cabin';
	text-align: center;
	line-height: 50px;
}














/*
																															HEADER
*/

#header {
	width: 100%;
	height: auto;
	background: #568d;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	padding: 20px;
	box-shadow: 0 0 5px 0 #0003;
	transition: background 600ms 400ms ease-in-out;
}
#header * {
	color: #fff;
}













/*
																											HEADER-SECTION BUTTON
*/

#see-product {
	background: linear-gradient(-145deg, #ffd564, #ffe38c, #ffc204, #ffe081, #ffc612, #ffe289, #ffc309);
	border: none;
	padding: 15px 25px;
	border-radius: 50px;
	cursor: pointer;
	margin-top: 50px;
	box-shadow: 1px 1px 5px 0 #0005;
	transition: all 200ms ease-in-out;
}
#see-product:hover {
	box-shadow: 2px 2px 5px 0 #000a;
}
#see-product:active {
	filter: brightness(0.8);
}

#see-product p {
	line-height: normal;
	margin: 0;
	font-size: 20px;
	color: #000;
}












/*
																											PRODUCT-SECTION
*/

#product-section {
	background: #000;
	min-height: calc(100vh - 75px);
	position: relative;
	overflow: hidden;
}

#product-section * {
	color: #fff;
}

#ps-left {
	width: 40%;
	height: calc(100% - 100px);
	position: absolute;
	left: 0;
	bottom: 90%;
	padding: 50px;
	opacity: 0;
	transition: all 800ms ease-in-out;
}

#ps-left h2 {
	font-size: 50px;
	margin-bottom: 10px;
}

#ps-right {
	width: 40%;
	height: 100%;
	position: absolute;
	right: 0;
		bottom: 90%;
	background: url('images/product.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	transform: scale(0.8);
		opacity: 0;
	transition: all 800ms ease-in-out;
}

#mobile-ps {
	display: none;
}

#mobile-ps-img-holder {
	width: 100%;
	height: calc(100vh - 75px);
	position: relative;
}

#mobile-ps img {
	width: 300px;
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all 1000ms ease-in-out;
}


#mobile-ps-text-holder {
	width: calc(100% - 60px);
	padding: 30px;
}

#canvas {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}






















/*
																											RESPONSIVENESS
*/

@media screen and (max-width: 1372px) {
	.center {
		width: 60%;
	}
}
@media screen and (max-width: 857px) {
	.center {
		width: 70%;
	}
}
@media screen and (max-width: 733px) {
	#header-section .center h3 {
		font-size: 25px;
		line-height: 35px;
	}
}
@media screen and (max-width: 700px) {
	#ps-left h2 {
		font-size: 40px;
	}
	#ps-left p {
		font-size: 16px;
	}
}
@media screen and (max-width: 640px) {
	#computer-ps {
		display: none;
	}
	#mobile-ps {
		display: block;
	}
	#product-section {
		overflow: initial;
	}

	.canvas-mobile {
		display: block;
	}
	.canvas-computer {
		display: none;
	}
}
@media screen and (max-width: 500px) {
	#mobile-ps img {
		width: 250px;
	}
}
@media screen and (max-width: 477px) {
	#header-section .center h3 {
		font-size: 20px;
		line-height: 30px;
	}
}
@media screen and (max-width: 410px) {
	#mobile-ps img {
		width: 225px;
	}
}
@media screen and (max-width: 350px) {
	#mobile-ps img {
		width: 200px;
	}
}
