@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
	margin:  0;
	padding: 0;
	font-family: Helvetica, Arial, Sans-Serif;
	color: #000;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

html, body {
	background: #fff;
	overflow-x: hidden;
	width: 100vw;
}

.no-select {
	-webkit-user-select: none;
	user-select: none;
}

p, li {
	font-size: 18px;
	line-height: 25px;
	margin: 0 0 10px 0;
}

h3 {
	margin: 0 0 10px;
}

a {
	color: #00f;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

#wrapper {
	width: 100vw;
	overflow-x: hidden;
	position: relative;
}

section {
	width: 100%;
	min-height: 50vh;
	background-repeat: no-repeat;
	background-size: cover;
}




















/*

																															WEBSITE STYLE

*/

#header-section {
	height: 100vh;
	position: relative;
	background-image: url('images/doftis_background-2.jpg');
	background-position: 50% 50%;
}

#background-filter {
	background: #203044cc;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

h1 {
	font-size: 30px;
	text-transform: uppercase;
}

#header-section .center {
	z-index: 2;
}
#header-section .center h3 {
	color: #fff;
	font-size: 35px;
	font-family: 'Cabin';
	text-align: center;
	line-height: 50px;
}














/*
																															HEADER
*/

#header {
	width: 100%;
	height: auto;
	background: #568d;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	padding: 20px;
	box-shadow: 0 0 5px 0 #0003;
}
#header * {
	color: #fff;
}











/*
																											HEADER-SECTION BUTTON
*/

#see-products {
	background: linear-gradient(-145deg, #ffd564, #ffe38c, #ffc204, #ffe081, #ffc612, #ffe289, #ffc309);
	border: none;
	padding: 15px 25px;
	border-radius: 50px;
	cursor: pointer;
	margin-top: 50px;
	box-shadow: 1px 1px 5px 0 #0005;
	transition: all 200ms ease-in-out;
}
#see-products:hover {
	box-shadow: 2px 2px 5px 0 #000a;
}
#see-products:active {
	filter: brightness(0.8);
}

#see-products p {
	line-height: normal;
	margin: 0;
	font-size: 20px;
	color: #000;
}
























/*
																											RESPONSIVENESS
*/

@media screen and (max-width: 1372px) {
	.center {
		width: 60%;
	}
}
@media screen and (max-width: 857px) {
	.center {
		width: 70%;
	}
}
@media screen and (max-width: 733px) {
	#header-section .center h3 {
		font-size: 25px;
		line-height: 35px;
	}
}
@media screen and (max-width: 477px) {
	#header-section .center h3 {
		font-size: 20px;
		line-height: 30px;
	}
}
