@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
	margin:  0;
	padding: 0;
	font-family: Helvetica, Arial, Sans-Serif;
	color: #000;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	box-sizing: border-box;
}

html, body {
	background: #000;
	overflow-x: hidden;
	width: 100vw;
}

.no-select {
	-webkit-user-select: none;
	user-select: none;
}

p, li {
	font-size: 18px;
	line-height: 25px;
	margin: 0 0 10px 0;
}

h3 {
	margin: 0 0 10px;
}

a {
	color: #00f;
}

hr {
	border: none;
	width: 100%;
	border-top: 1px solid #0002;
	margin-bottom: 25px;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

#wrapper {
	width: 100vw;
	overflow-x: hidden;
	position: relative;
}

section {
	width: 100%;
	min-height: 50vh;
	background-repeat: no-repeat;
	background-size: cover;
}




















/*

																															WEBSITE STYLE

*/


#header-section {
	height: 100vh;
	position: relative;
	background-image: url('images/doftis-background-2.jpg');
	background-position: 50% 50%;
}

#background-filter {
	background: #203044cc;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}

#header-section .center {
	z-index: 2;
	top: calc(50% + 75px);
}
#header-section .center h3 {
	color: #fff;
	font-size: 35px;
	font-family: 'Cabin';
	text-align: center;
	line-height: 50px;
}














/*
																															HEADER
*/

#header {
	width: 100%;
	height: auto;
	background: #556688f8;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	padding: 20px;
	box-shadow: 0 0 5px 0 #0003;
	transition: background 600ms 400ms ease-in-out;
}
#header * {
	color: #fff;
}

h1 {
	font-size: 30px;
	text-transform: uppercase;
}

#header-right {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	cursor: default;
}

.header-button {
	height: 100%;
	display: inline-block;
	padding: 20px 10px;
	cursor: pointer;
	border-right: 1px solid #fff1;
	background: transparent;
	transition: background 125ms ease-in-out;
}

.header-button:last-child {
	border-right: none;
}

.header-button:hover {
	background: #1112;
}
.header-button:active {
	background: #1113;
}




.header-menu-button-wrapper {
	position: absolute;
	right: 0;
	top: 0;

	width: 75px;
	height: 75px;
	display: none;
	justify-content: center;
	align-items: center;

	transition: transform 350ms ease-in-out;
}

.menu-lines-wrapper {
	transform: rotate(0deg);
	transition: 250ms ease-in-out;
}

.menu-button-line {
	width: 40px;
	height: 4px;
	background: #fff;
	border-radius: 5px;
}

.menu-button-line__middle {
	transition: all 200ms ease-in-out, opacity 100ms ease-in-out;
}

.menu-button-line__before, .menu-button-line__after {
	position: absolute;
	width: 40px;
	height: 4px;
	background: #fff;
	border-radius: 5px;
	transition: all 200ms ease-in-out;
}

.menu-button-line__before {
	transform: translateY(-13px);
}
.menu-button-line__after {
	transform: translateY(13px);
}













/* MOBILE MENU */
#mobile-menu {
	width: 100vw;
	height: 100vh;
	background: #556688f8;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	border-radius: 50%;
	transform: translate(50%, -50%) scale(0);
	transition: transform 350ms ease-in-out, border-radius 550ms ease-in-out;
}

#mobile-menu-content {
	width: 100%;
	height: calc(100% - 75px);
	background: transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 25px;
}

#mobile-menu-content h2 {
	display: block;
	width: 100%;
	padding: 25px;
	font-size: 30px;
	border-bottom: 1px solid #fff1;
	background: transparent;
	transition: all 250ms ease-in-out;
}
#mobile-menu-content h2:active {
	background: #1111;
}

#mobile-menu-content h2:last-child {
	border-bottom: none;
}

















/*
																											HEADER-SECTION BUTTON
*/

#see-info {
	background: linear-gradient(-145deg, #ffd564, #ffe38c, #ffc204, #ffe081, #ffc612, #ffe289, #ffc309);
	border: none;
	padding: 15px 25px;
	border-radius: 50px;
	cursor: pointer;
	margin-top: 50px;
	box-shadow: 1px 1px 5px 0 #0005;
	transition: all 200ms ease-in-out;
}
#see-info:hover {
	box-shadow: 2px 2px 5px 0 #000a;
}
#see-info:active {
	filter: brightness(0.8);
}

#see-info p {
	line-height: normal;
	margin: 0;
	font-size: 20px;
	color: #000;
}












/*
																											INFO-SECTION
*/

#info-section {
	background: #000;
	min-height: calc(100vh - 75px);
	position: relative;
	overflow: hidden;
}

#info-section * {
	color: #fff;
}

#ps-left {
	width: 40%;
	height: calc(100% - 100px);
	position: absolute;
	left: 0;
	bottom: 90%;
	padding: 50px;
	opacity: 0;
	transition: all 800ms ease-in-out;
}

#ps-left h2 {
	font-size: 50px;
	margin-bottom: 10px;
}

#ps-right {
	width: 40%;
	height: 100%;
	position: absolute;
	right: 0;
		bottom: 90%;
	background: url('images/product.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	transform: scale(0.8);
		opacity: 0;
	transition: all 800ms ease-in-out;
}

#mobile-ps {
	display: none;
}

#mobile-ps-img-holder {
	width: 100%;
	height: calc(100vh - 75px);
	position: relative;
}

#mobile-ps img {
	width: 300px;
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all 1000ms ease-in-out;
}


#mobile-ps-text-holder {
	width: calc(100% - 60px);
	padding: 30px;
}

#canvas {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}
















/*      PRODUCT      */

#product-section {
	background: #fff;
	padding: 25px;
}

.form-control__button {
	background-color: #36d!important;
}

.form-control__button span {
	color: #fff;
}

.product-details__product-price-taxes {
	color: #666;
	text-decoration: line-through;
}

#shipping_button {
	border: none!important;
	padding: 5px 10px!important;
	background: #36c!important;
	border-radius: 3px;
	transition: all 150ms ease-in-out!important;
}
#shipping_button:active {
	background: #14a!important;
}

#shipping_button p {
	color: #fff;
	font-size: 16px;
}

#product-section hr {
	margin-bottom: 65px;
}

#calculate {
	background: #36c;
	border: none;
	padding: 10px 15px;
	margin-top: 25px;
	border-radius: 2px;
	box-shadow: none;
	transition: all 100ms ease-in-out;
}
#calculate:active {
	background: #25b;
	box-shadow: 0 0 5px #0003;
}

#calculate p {
	color: #fff;
	margin: 0;
	padding: 0;
}

















































/*
								FOOTER
*/

footer {
	width: 100vw;
	padding: 50px 100px;
	background: #333;
	position: relative;
}

footer * {
	color: #fff;
}

footer h2 {
	font-weight: 400;
}

.inner-footer {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr .5fr;
	grid-gap: 20px;
}

.footer-section {

}



























/*
																											RESPONSIVENESS
*/

@media screen and (max-width: 1372px) {
	.center {
		width: 60%;
	}
}
@media screen and (max-width: 857px) {
	.center {
		width: 70%;
	}
}
@media screen and (max-width: 733px) {
	#header-section .center h3 {
		font-size: 25px;
		line-height: 35px;
	}
}

@media screen and (min-width: 700px) {
	#mobile-menu {
		display: none;
	}
}

@media screen and (max-width: 700px) {
	#ps-left h2 {
		font-size: 40px;
	}
	#ps-left p {
		font-size: 16px;
	}
	#header-right {
		display: none;
	}
	.header-menu-button-wrapper {
		display: flex;
	}
}
@media screen and (max-width: 640px) {
	#computer-ps {
		display: none;
	}
	#mobile-ps {
		display: block;
	}
	#info-section {
		overflow: initial;
	}

	.canvas-mobile {
		display: block;
	}
	.canvas-computer {
		display: none;
	}
}
@media screen and (max-width: 500px) {
	#mobile-ps img {
		width: 250px;
	}
}
@media screen and (max-width: 477px) {
	#header-section .center h3 {
		font-size: 20px;
		line-height: 30px;
	}
}
@media screen and (max-width: 410px) {
	#mobile-ps img {
		width: 225px;
	}
}
@media screen and (max-width: 350px) {
	#mobile-ps img {
		width: 200px;
	}
}
